* {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-main: 'Roboto Slab', serif;

    --fw-reg: 400;
    --fw-bold: 900;

    --clr-bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.5);
}

/* General Styles */

body {
    font-family: var(--ff-main);
}